[2016-12-13 13:34] Utwo opened #1 "Link for the documentation not working."
I follow the link from readme.md to adonisjs official documentation, but seems like the page was removed.
This is the link: [http://adonisjs.com/docs/3.1/websockets]( http://adonisjs.com/docs/3.1/websockets)

[2016-12-14 09:09] niallobrien commented on #1
I'm guessing they're work-in-progress.

[2017-01-02 06:35] thetutlage commented on #1
Should be working now

[2017-01-02 06:35] #1 closed, assigned to thetutlage

[2017-01-03 12:21] Utwo commented on #1
Wow, it's awesome! Thank you very much! There is almost no advantage on using Laravel over Adonis right now.

[2017-01-31 22:29] herenickname opened #3 "Azure App Service"
Error: Compilation of µWebSockets has failed and there is no pre-compiled binary available for your system. Please install a supported C++11 compiler and reinstall the module 'uws'.
at e (D:\home\site\wwwroot\node_modules\uws\uws.js:31:19)
at Object.<anonymous> (D:\home\site\wwwroot\node_modules\uws\uws.js:35:3)
at Module._compile (module.js:570:32)
at Object.Module._extensions..js (module.js:579:

[2017-02-25 10:39] #3 closed, assigned to nobody

[2017-02-25 10:39] thetutlage commented on #3
Sorry it took a while

[2017-03-28 21:16] benxaamin opened #10 "No compatible version found: uws@^0.13.0"
Node v7.7.4 (npm v4.1.2)

When create a new adonis project from cli I am getting this error

xaamin$ npm install
npm ERR! Darwin 16.4.0
npm ERR! argv "/Users/nulldata/.nvm/versions/node/v7.7.4/bin/node" "/Users/nulldata/.nvm/versions/node/v7.7.4/bin/npm" "install"
npm ERR! node v7.7.4
npm ERR! npm  v4.1.2
npm ERR! code ETARGET

npm ERR! notarget No compatible version found: uws@^0.13.0
npm ERR! no

[2017-03-29 08:47] RomainLanz commented on #10
Hey @benxaamin !

This was a problem with `uws` that have remove all versions in the NPM registry.
@thetutlage has managed to fix this in the latest release (`1.0.4`).

* https://github.com/uWebSockets/uWebSockets/issues/551

[2017-03-29 15:18] benxaamin commented on #10
Thanks. This morning I can completed the AdonisJS framework installation.

[2017-03-29 15:18] #10 closed, assigned to nobody

[2017-04-22 09:35] samuelcesc opened #14 "Get Socket By User ID and Emit"
How do I get a list of sockets without pulling them as the pull function leads to untracking? Just want to get a list of sockets by user id and emit to those sockets.

[2017-04-22 11:31] thetutlage commented on #14
You can use the `get` method and pass it the user id

[2017-04-22 15:49] samuelcesc commented on #14
It worked! Thanks!

[2017-04-22 15:49] #14 closed, assigned to nobody

[2017-05-04 23:32] dspangenberg opened #15 "Websocket without adonis-websocket-client"
Hi,

I'm trying to connect from a VueJS app (with MetinSeylan/Vue-Socket.io) to the web socket. But channels are not supported by socket.io on the client side. How can I response to events or use the presence feature in an AdonisJs app without a channel? Something like
[code]
in socket.js does not work.

Regards,
Danny

[2017-05-05 06:53] thetutlage commented on #15
Any specific reasons you don't want to use `adonis-websocket-client`?

[2017-05-05 07:16] dspangenberg commented on #15
Not really, the idea I have not come and the "Using with VueJS"  I noticed too late.  Have you a hint, how to integrate adonis-websocket-client with vuex?

[2017-05-05 09:19] thetutlage commented on #15
Frankly saying there is no out of the box solution of Vue or Vuex. Here is a bare-bones example of integrating it with Vue https://github.com/adonisjs/adonis-websocket-client#using-with-vuejs.

Best I can do share a working example with Vue and if you can take it over from there and mold it as per your use case

[2017-05-05 09:25] dspangenberg commented on #15
Thanks anyway. I will try to adapt MetinSeylan/Vue-Socket.io with adonis-websocket-client in a quiet hour.

[2017-05-05 09:25] #15 closed, assigned to nobody

[2017-05-15 03:11] greenkeeper[bot] opened #18 "An in-range update of mocha is breaking the build 🚨"
## Version **3.4.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/adonisjs/adonis-websocket/compare/greenkeeper%2Fmocha-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-07-14 22:33] ntvsx193 opened #23 "Need support cluster mode via redis or any"

[2017-07-17 04:10] tranphuc410 opened #24 "Combination Http and Ws"
My problem: receive request (http or ws) from other servers.
For http: Don't know how to emit a message from http controller.
For ws: Don't know how other servers can connect to my server with normal socket (with adonis-websocket-client --> Stupid :v)
Anyone can help me?
Thank so much.

[2017-08-03 10:32] #24 closed, assigned to nobody

[2017-08-14 07:28] eventdift commented on #15
this might help with vuejs , there has been an update on how plugins can be attached to the vue 2.0

const wsVuePlugin = [
]

const url = 'http://localhost:3000'
wsVuePlugin.install= (Vue,data)=>{
    Vue.prototype.$io = data.ws(data.url);
}

Vue.use(wsVuePlugin,{ws:ws,url:url})

[2017-08-16 11:20] ntvsx193 opened #26 "Support for Adonis v4"
Any plan for release Adonis v4?

[2017-08-16 17:59] thetutlage commented on #26
Yes will be soon.

[2017-09-06 12:24] ntvsx193 commented on #26
Any progress?
It will be great if you make first release.
Thx

[2017-09-10 09:45] #18 closed, assigned to nobody

[2017-09-30 07:56] stecapra commented on #26
+1

[2017-10-05 12:58] firsyura commented on #26
@thetutlage maybe you need a help to the migration?

[2017-10-09 11:51] firsyura commented on #26
@thetutlage Can you help me with new implementation of Session?
Check my changes here - https://github.com/adonisjs/adonis-websocket/compare/develop...firsyura:develop

[2017-10-11 08:54] ntvsx193 commented on #26
@thetutlage Can you say the approximate date of implementation? I need told to my leadership date of full migrate to v4. Thx

[2017-10-11 16:20] thetutlage commented on #26
@ntvsx193 Sorry, not sure about the date right now.

Also it's festival session in my country, so kind of stuck into other stuff. Give me a week, I will go through the required changes, make some plan and then let you know.

Ohh man, some should hire me for full time development on AdonisJs now

[2017-10-11 16:21] thetutlage commented on #26
@firsyura Will look into it soon and let you know.

[2017-10-15 13:24] dv336699 commented on #26
@ntvsx193 don't want to sound rude or anything, but if you need the feature, why not support @thetutlage instead of asking stuff for free?

Ask your "leadership" to pay for it.

Thanks

[2017-10-18 07:41] thetutlage commented on #26
@firsyura @diego-vieira Just an update.

I have started working on it and will be out soon, also using Redis to scale the websockets on multiple servers

[2017-10-18 07:43] firsyura commented on #26
@thetutlage Cool. If you need a helping hand feel free to message me

[2017-11-03 09:39] greenkeeper[bot] opened #33 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.1** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/adonisjs/adonis-websocket/compare/greenkeeper%2Fsinon-4.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-11-07 18:52] #33 closed, assigned to nobody

[2017-11-10 21:30] RomainLanz commented on #26
Closing this.
Feel free to continue the discussion here https://github.com/adonisjs/discussion/issues/51

[2017-11-10 21:30] #26 closed, assigned to nobody

[2017-11-12 04:49] barak-haviv opened #34 "Is it suppose to work on version 4 also ?"
I followed the instruction and got errors the first one
Error: Cannot find module 'adonis-fold'

And then
RuntimeException: E_INVALID_SERVICE_PROVIDER: WsProvider must extend base service provider class

[2017-11-12 16:38] RomainLanz commented on #34
Hey @barak-haviv! 👋

Please, read https://github.com/adonisjs/discussion/issues/51

[2018-02-16 22:25] RomainLanz commented on #23
Issue discussed here: https://github.com/adonisjs/discussion/issues/51
Closing this for now.

[2018-02-16 22:25] #23 closed, assigned to nobody

[2018-02-16 22:25] #34 closed, assigned to nobody

[2018-03-28 09:36] bostinait opened #44 "Connections from SocketIO?"
Just starting out with Adonis (I've used Laravel for a good many years) and I'm liking what I am seeing so far.

I am trying to integrate Adonis into an existing project that already has a subsystem (written in python) that communicates via SocketIO.

Can this provider accept connections generated via SocketIO? And if so, how can it be achieved.

Thank you in advance!

[2018-03-31 12:09] kamal-chagam opened #45 "one mistake in websocket documentation"
![image](https://user-images.githubusercontent.com/6966631/38163003-0e923c72-350a-11e8-9a28-f86b4d39988b.png)

  is the the following correct? in the above example ?
`@adonisjs/websocket-client/clusterPubSub`

isn't the following to replace above?

`@adonisjs/websocket/clusterPubSub`

I may be wrong too, please correct me

thank you .. you did awesome work

[2018-03-31 15:01] tpharaoh commented on #14
Can I see a sample of how you did this?

[2018-03-31 21:46] tpharaoh opened #46 "presence"
I followed your tutorial on websockets and this line:
[code]

gets:
[code]

[2018-04-01 04:01] thetutlage commented on #46
Where did you followed the tutorial?

[2018-04-01 07:25] tpharaoh commented on #46
Your videos for 3.2, but I realis it’s not same in 4.

On Sun, 1 Apr 2018 at 6.01 AM, Harminder Virk <notifications@github.com>
wrote:

[2018-04-02 13:29] ntvsx193 commented on #45
Fixed in https://github.com/adonisjs/docs/pull/261

[2018-04-03 04:35] kamal-chagam commented on #45
thanks

[2018-04-03 04:35] #45 closed, assigned to nobody

[2018-04-03 08:02] thetutlage commented on #46
Yeah the presence is not in 4 as of now. Will be added soon.

[2018-04-04 17:27] tpharaoh commented on #46
Excuse my ignorance, I am trying to make a way to send a message to a user server one to one.
I know I can pass auth into my WS and get this.auth.user.id

But, if a method returns something, I'd like to push a message to user. Now lets assume user initiates an action, leaves the page, but still within site. When the action is done, I want to send result.

Each page load the socket.id changes. So t

[2018-04-04 19:51] tpharaoh commented on #46
I guess that doesn't work either because to doesn't exist
chatChannel.to([]).emit('greet', 'Hello world')

[2018-04-05 12:48] samuelcesc commented on #14
Hi @tpharaoh , here it is:
[code]
Hope this helps.

Cheers!

[2018-04-05 14:14] tpharaoh commented on #14
Thanks @samuelcesc

I am really excited about the possibilities here, but I guess the presence isn't working in v4 yet, so I gotta wait.

[2018-04-07 15:55] mtnptrsn opened #47 "wsServer is not a function"
I have:
1. Installed the websocket package with `adonis install @adonisjs/websocket --yarn`
2. Added `'@adonisjs/websocket/providers/WsProvider'` to providers
3. Added `.wsServer()` to the bootstrap chain (after `new Ignitor(require('@adonisjs/fold')).appRoot(__dirname)`)

When trying to start the server i get:
[code]

Am I doing something wrong? I am using adonuxt if that makes a difference.

[2018-04-07 21:59] mtnptrsn commented on #47
Sorry. I just needed to update my packages.

[2018-04-07 21:59] #47 closed, assigned to nobody

[2018-04-09 13:43] tpharaoh commented on #46
to anyone following this question, emitTo() was added 3 days ago, it covers part of the above needs... as long as you track the IDs elsewhere, for now

[2018-04-10 08:58] thosanmaytinh opened #48 "_"

[2018-04-10 11:44] #48 closed, assigned to nobody

[2018-04-10 15:27] thetutlage commented on #46
Can you tell me a use case, where you have to track the IDS?

[2018-04-10 19:17] tpharaoh commented on #46
Well, when user clicks a link it initiates a back end process for the user,
when completed I want to push to the user the result.

I am a laravel forge user, and when creating a server I can move around the
site, change pages freely, when server is provisioned I am notified.

I am working on some IOT provisioning. When firmware provisioned the
configuration is returned from API its added to DB, an

[2018-04-11 09:25] thetutlage commented on #46
If user (who clicks the link) is connected to the socket. Then why don't you send the socketId as part of HTTP request and then use that id to fire a websocket event

[2018-04-11 17:46] izacximenes opened #49 "blocked cross-origin"
![deepin screenshot_selecionar area_20180411142740](https://user-images.githubusercontent.com/33349688/38633792-15af8484-3d97-11e8-9942-b7a197c6ad0c.png)

[2018-04-12 07:01] RomainLanz commented on #49
Hey @izacximenes (let start by being polite...) 👋

1. Your message is a simple picture in a non-english language. Could be a little bit more descriptive.

2. Search about CORS within Google and you will find your solution.

[2018-04-12 10:20] izacximenes commented on #49
@RomainLanz I am trying to make a connection with websocket, but it only returns cors error

[2018-05-01 05:38] nwashangai commented on #47
Thanks @mtnptrsn for sharing, the solution you provided just solved my different problem

[2018-05-10 08:10] ghost opened #51 "Channels list and usage?"
#question

Hello,

Im building a chat application with Adonis, but I couldn't figure out how to:

1. Dynamically create new chat rooms
2. List all active rooms
3. List all connected users within a room
4. Presence

I would appreciate your assistance on this as I already chose adonis framework for my project and I wouldn't want to go back to socket.io again. :)

Thank you very much in advance.
Look

[2018-05-10 10:29] thetutlage commented on #51
What you are asking for is to draw you an architecture. For these of questions, prefer using the forum or discord server.

[2018-05-10 10:50] ghost commented on #51
No. What im asking is if there are any built in methods like in socket.io for instance, where i can simply ask for rooms length or even iterate through socket connections from a room id.

If not, are there any future plans for that in Adonis?

Thank you! @thetutlage

[2018-05-10 10:51] tpharaoh commented on #51
I think that wasn’t made in version 4

On Thu, 10 May 2018 at 12.50 PM, coderbro9 <notifications@github.com> wrote:

[2018-05-10 18:49] thetutlage commented on #51
@coderbro9

The biggest challenge I see everyone having is, thinking the entire world revolves around Express or socket.io. Adonis documentation doesn't talk about `rooms` at all.

If you will read the documentation carefully https://adonisjs.com/docs/4.1/websocket-philosophy#_channels_topics. You will get the idea on how channels and topics work and how you can use them to your best.

Ofcourse, i

[2018-05-31 18:54] lukasrakauskas opened #52 "Channels have no subscriptions when called from adonis-scheduler task"
I've tried using adonis-websocket package with [adonis-scheduler](https://www.npmjs.com/package/adonis-scheduler) and when I tried getting channels subscriptions it showed none. But it was shown when called from HTTP contoller.

Here is an example code. Everything else is used as in chat example from docs.
https://gist.github.com/lukasrakauskas/9bd6cc1095943a80465e59b5761f0f0f

[2018-06-01 11:19] thetutlage commented on #52
When you run your process using `adonis-scheduler`, how do you expect your clients to join channels?

[2018-06-01 12:13] lukasrakauskas commented on #52
Well I thought channels data was supposed to be the same application wide. My bad then.

[2018-06-01 13:57] thetutlage commented on #52
It’s share application wide. But when you start 2 processes, then they are 2 different applications.

[2018-06-02 11:48] thetutlage commented on #52
Closing since not actionable

[2018-06-02 11:48] #52 closed, assigned to nobody

[2018-06-02 11:48] thetutlage commented on #51
Closing since not actionable

[2018-06-02 11:48] #51 closed, assigned to thetutlage

[2018-06-02 11:49] thetutlage commented on #49
Closing since not actionable

[2018-06-02 11:49] #49 closed, assigned to nobody

[2018-06-02 11:50] thetutlage commented on #44
In short No. SocketIo has their own logic on top of Websockets and Adonis has their own. You can read more about the protocol here https://github.com/adonisjs/adonis-websocket-protocol

[2018-06-02 11:50] #44 closed, assigned to thetutlage

[2018-06-02 11:54] thetutlage commented on #46
Closing since no response from the issue reporter and not actionable as well

[2018-06-02 11:54] #46 closed, assigned to nobody

[2018-06-15 09:36] ghost opened #55 "Issue broadcasting to dynamic channel"
Basically, I'm implementing live notifications via the websocket connection. I'm just trying to get a working version of the flow going, I'm able to initiate everything properly, but i'm having problems broadcasting to that channel in a HTTP request.

socket.js
[code]

routes.js
[code]

I'm getting this error when calling the route:
`Cannot read property 'broadcast' of null` meaning the .topic isn

[2018-06-15 10:35] ghost commented on #55
Using the second example

[code]

Gives the message: `Cannot read property 'socket' of undefined`

with a stack trace
[code]

[2018-06-16 04:36] ghost commented on #55
I was able to broadcast successfully to all via:
[code]

However there is still an error in the code.

[2018-06-25 06:27] thetutlage commented on #55
Hey @TaylorChristie. Sorry for getting late.

The `topic` method returns `null` when no one has subscribed to the topic yet. So you will have to wrap it inside an `if` condition.

[code]

[2018-06-25 21:31] yariksav opened #56 "Question about GraphQL Subscriptions and Adonis WebSocket"
It's difficult to explain problem, but I will try:

I have tried to realize GraphQL Subscriptions (througs apollo subscriptions-transport-ws) with AdonisJS framework and WebSockets, and it works, but:

When I connect SubscriptionServer through adonis-websocket WS server - I works, but with some troubles, adonis-websocket send ping packets and after timeouts and limits it disconnect connections wit

[2018-07-05 01:03] mtamadon opened #57 "the slash (/) problem on socket path"
I have found a small bug on adonis Ws ,
If I add / on end of path in request , Ws server will returns "400 bad request" error and unfortunately most of client library add '/' at end of path.(Ex. most of android ws client libs and socket.io lib and ...) I know that adonis has official Js library but sometimes we need to connect to a Ws from android or ios app.

I found it using telnet let see an ex

[2018-07-17 06:29] thetutlage commented on #55
Closing since no response from the issue reporter and not actionable as well

[2018-07-17 06:29] #55 closed, assigned to thetutlage

[2018-07-17 06:32] thetutlage commented on #56
Hello @yariksav

Sorry for getting late on this. Ideally it's not possible to make Adonis work with `apollo subscriptions` seamlessly.

Adonis adds a lot to the Websocket protocol, and I am not sure if `apollo subscriptions` uses vanilla Websocket connection.

I have plans to make GraphQL as the first class citizen in 5.0 and then I can re-visit `apollo subscriptions` and see if a clean integratio

[2018-07-17 06:32] #56 closed, assigned to thetutlage

[2018-07-17 06:48] #57 closed, assigned to thetutlage

[2018-07-17 10:39] Ruby184 opened #58 "PM2 support"
## Why this feature is required?
I want to run adonis production application using websockets with PM2 (http://pm2.keymetrics.io).
The problem is the inter-process broadcast messaging cannot be done just like this:
[code]
So after some research i found that i can use PM2 Programmatic API and included message bus to send messages between processes managed by pm2. See example (http://pm2.keymetrics.

[2018-07-17 14:50] thetutlage commented on #58
Woohoo, this is awesome.

I am happy with the implementation that checks for `process.env.pm_id` and then changes the behaviour accordingly.

Feel free to write the code and share the PR 😄

[2018-07-23 10:08] Ruby184 opened #61 "Add event ack functionality"
## Why this feature is required (specific use-cases will be appreciated)?
I would like to use websocket connection to emit event and get the result of it - it is more like request and response flow. This functionality is implemented in socket.io, sails.io, etc. It is a nice feature when you want to get rid of AJAX requests for resource CRUD in SPA and pass all data through websocket. Socket.io imp

[2018-07-25 16:50] RomainLanz commented on #58
Closing in favor of the PR.

[2018-07-25 16:50] #58 closed, assigned to Ruby184

[2018-07-27 07:59] thetutlage commented on #61
Thanks a lot for this detailed description. I love the idea and yes we can add it to the core.

I don't like the promise version, since it will stop the entire scope of code, if no reply was ever returned from the client. For example:

[code]

I believe, it's fine to accept the 4th argument.

Also I have more concern, how it will work across the cluster? Currently AdonisJs has out of the box clust

[2018-07-27 11:29] Ruby184 commented on #61
No problem. Thank you for your time spent reading all of this.

Yes, you are right, the problem is when promise is waiting indefinitely for the response and it never comes, so there is no way to know, when the emit request fails silently. The solution would be to just reject promise after timeout, when connection is closed or topic is left. But this can be implemented later or as addon package so

[2018-07-29 06:39] thetutlage commented on #61
Cool, I will wait for it. Another question.

If I have got it right, the acknowledgment only works when emitting to a single client and not a group of clients. Also is this the same behaviour with `socket.io`?

[2018-08-06 09:22] Ruby184 commented on #61
First sry for not responding for such a long period of time.

I looked into `socket.io` implementation. When you use broadcast and try to pass an `ack` callback an error is thrown (https://github.com/socketio/socket.io/blob/master/lib/socket.js#L155).

Also one more thing is what we should do when promise gets rejected from one of event callbacks?

[code]
Should we add one more packet type for err

[2018-08-07 08:29] thetutlage commented on #61
Yes, this sounds great and throwing hard exceptions for `broadcastToAll` is a nice way to go about it.

[2018-08-09 17:37] vaneetjoshi opened #62 "JWT Auth in websockets"
hi i am trying to implement jwt authentication in web sockets but i am not able to get auth object in web socket controller please guide me

# Error
     {topic: "notifications", message: "Unexpected token       await auth.authenticator('jwt').check();"}

# sockets.js

    Ws.channel('notifications', 'NotificationController').middleware(['client_jwt_auth'])

# NotificationController.js

      'use

[2018-08-10 09:40] thetutlage commented on #62
Inside your `NotificationController` constructor, you are using the keyword `await`. However `await` can only be used when top level function is `async` (Learn more about async/await separately).

There is no need to manually add the authentication, use one of the inbuilt methods https://adonisjs.com/docs/4.1/websocket-server#_registering_middleware

[2018-08-10 09:40] #62 closed, assigned to thetutlage

[2018-08-20 02:48] osddeitf opened #63 "Inside event "close" cannot broadcast event."
I have recently update my code base from AdonisJS version 3.2 to the latest. With much effort, everything working right, but not new

 or

 package.
With old code base, a code like this should working:

    Ws.channel("user", function(socket) {
        socket.on("disconnect", function() {
            socket.exceptMe().emit("closing", socket.id)
        })
    }

As the code above, whenever socket

[2018-08-21 08:20] thetutlage commented on #63
It should broadcast to everyone, except the one who disconnected (which is relevant). Can you share, how exactly you are testing to know that the event is fired to all other connected clients?

[2018-08-21 10:32] vaneetjoshi commented on #62
i want to send some data to users at the time of connecting to socket matching their user id from database please guide how can i do that

[2018-08-21 10:52] osddeitf commented on #63
This is a script I created and included in template:

    const Ws = require("@adonisjs/websocket-client");

    const connection = Ws("").connect();
    const socket = connection.subscribe("chat");
    socket.on('closing', () => console.log("CATCH CLOSING"))

I'm had tried:

    Ws.channel('user', ({ socket }) => {
      socket.broadcast('closing', socket.id)
    })

It's successfully fired event

[2018-08-21 12:45] thetutlage commented on #63
Yup, you are right, as soon as a socket disconnects. It is not able to send messages to other connected sockets. Lemme work on the fix.

[2018-08-29 23:29] maxsprite commented on #63
Hello, i'm newbie in JS, but i get that bug too. I interested was happening and started look at the source.

Having found the function **broadcast** in _Socket/index.js_ i see call **makeEventPacket** in current ws connection. Debug this before and after function call - understood that function **broadcast** stopping with execute **makeEventPacket**.

In body function **makeEventPacket** (located

[2018-09-04 23:57] mbcausing opened #64 "Cant emit/broadcast on dynamic topic"
Im trying to emit on dynamic topic on certain channel but i cant make it work
this is the code that i use to test if i can get the channel object

i already tried this
[code]
and this
[code]

and this is the code in client
[code]
and this is the error
[code]

[2018-09-05 08:02] thetutlage commented on #64
Try it as follows

[code]

[2018-09-05 09:01] mbcausing commented on #64
I tried that and now its working
Thanks for the immediate reply @thetutlage

[2018-09-05 09:32] #64 closed, assigned to thetutlage

[2018-09-11 09:15] hkmsadek opened #65 "How can I get current logged in user details in controller?"
I am trying to get the current user from the socket controller.

Trying to get it like this
`constructor ({ socket, request , auth, session}) {
   this.socket = socket
   this.request = request
   this.auth=auth

}
async onClose (data) {
   const user = await this.auth.user
   console.log(user) // it gives null
}`

Also tried to get some values from session. Sessions works in all controller except

[2018-09-11 20:21] thetutlage commented on #65
1. Please format your codeblocks properly. Here's the [markdown guide](https://guides.github.com/features/mastering-markdown/)
2. Share code for `start/kernel.js`
3. Share code on how you connect from the client side.

Also, please create proper issues, otherwise they will be closed in the future.

[2018-09-11 22:54] hkmsadek commented on #65
HI, Thank you so much for your valuable time :)

I think I have the default code from `start/kernel.js` . Here is the code without comments

[code]

I am using adonuxt. All other socket related things are working nicely. Just need the `logged in user data`.
Here is how I am connecting.

[code]

My socket route is like this
[code]
And in my NotifyerController I have

[code]

[2018-09-13 19:30] thetutlage commented on #65
What scheme are you using for authentication?

[2018-09-13 19:32] hkmsadek commented on #65
The default one. `Sessions (session)`.

[2018-09-13 19:33] thetutlage commented on #65
Kind of weird. Lemme try to reproduce the issue and update you

[2018-09-13 19:33] hkmsadek commented on #65
Thank you so much..

[2018-09-15 19:53] apatche7 opened #66 "The app doesn't listen to IOS socket."
noticed the project is working fine with Android and Web not IOS.

I tried to solve the problem but nothing work.

I tried the IOS app with a node.js code and it's working fine but not with Adonis

I'm using Adonis version 3.2.1

This is my codes.

`Ws.channel('/chat', 'ChatController').middleware('auth:jwt')`

* onTest (data) {
    console.log('test socket', data);
  }

IOS code: sample test app

[2018-09-19 19:04] thetutlage commented on #66
Can you please alteast format your codeblocks properly?

[2018-09-20 09:14] apatche7 commented on #66
That's what I did, it always ends to this format!!

[2018-09-21 20:29] hkmsadek commented on #65
Any update on it? If you could at least show an example how you would have done this

How to know which user is disconnected from the subscribed topic or in any other way.

Waiting for a help. Thank you so much for this great work.

[2018-09-21 21:11] thetutlage opened #67 "Websocket scalability"
_From @ed-fruty on September 20, 2018 17:57_

From the docs I read this:

It's pretty cool (I can suggest it handles by master process) but, it's only scalability on the **one machine**.

How it can be scale for **several servers** ?
If one connection will serve by one node, and the second connection in another node. So we can't send message from first node socket to another node sockets, isn't it

[2018-09-21 21:14] thetutlage commented on #66
Then you need to read the markdown guide of Github 😄

[2018-09-27 08:23] thetutlage commented on #61
@Ruby184 Did you get a chance to work on it?

[2018-09-27 08:32] Ruby184 commented on #61
Sorry, I was busy at work and forget about it. But I can definitely look into it today and open PR.

[2018-10-06 12:50] slipros opened #69 "Strange behavior"
Hey, if i need to send several WebSocket messages in a row from server to client - strange thing happens.

I have a SocketService that store all sockets.id when users subscribe to "user" room. For second message (status update) it's can't find socket.id at my SocketService class. It's looks like something had removed it, but SocketService.Delete() never happens (you can see that from log) and clie

[2018-10-07 18:07] RomainLanz commented on #69
Duplicates of https://forum.adonisjs.com/t/strange-websocket-behavior/2077

[2018-10-07 18:07] #69 closed, assigned to nobody

[2018-10-17 12:01] MattGould1 commented on #63
@thetutlage was this resolved? Believe I have same issue

[2018-11-05 19:34] footniko commented on #61
Also waiting for event acking :)

[2018-11-15 18:53] edge-rps opened #70 "Access user model even if ws middleware doesnt have auth"
So the issue I have is need access the this.auth.user is my websocket controller but for some reason the websocket channel requires the auth middleware attached to do so. It's a chat application so I need the users to receive chat messages but need to be logged in to send messages.

PS: im using jwt and lucid-mongo

[2018-11-16 05:01] thetutlage commented on #70
@rykerparker From where the user will then come from?

[2018-11-24 09:09] RomainLanz commented on #70
Closing since no answer from issue reporter.

[2018-11-24 09:09] #70 closed, assigned to thetutlage

[2018-11-26 18:01] AddoSolutions commented on #65
I believe I may be getting a similar issue:

`wsKernel.js`

[code]

`socket.js`

[code]

and finally in `AuthenticationController.js`

[code]

When user is found, the following error occurs:

[code]

[2018-11-26 18:02] AddoSolutions commented on #65
I believe I may be getting a similar issue:

`wsKernel.js`

[code]

`socket.js`

[code]

and finally in `AuthenticationController.js`

[code]

When user is found, the following error occurs:

[code]

EDIT: After reviewing, it would appear this is to SET the current logged in user (still a bug, but not THIS bug which is about getting the current user)

[2018-12-18 15:43] revert77 opened #71 "Guys are crazy, why call the broadcast method if it works also like broadcastToAll in Channel/index.js, oh my God"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

- Lots of raised issues are directly not bugs but instead are design decisions taken by us.
- Make use of our [forum](https://forum.adonisjs.com/), or [discord server](https://discord.me/adonisjs), if you are not sure that you are reporting a bug.
- En

[2018-12-18 15:44] #71 closed, assigned to nobody

[2018-12-20 19:40] twigs67 commented on #46
Any update on presence being added to 4.1?

[2018-12-26 20:10] AddoSolutions commented on #67
I was just looking into this as well.  Does anyone have any ideas on how this might work?  Has anyone done any thinking on how to implement this?

I would imagine that Adonis would not care about the load balancing part, but the state and stat management between instances.

So the #1 thing would be discovery and inter-connection of nodes.

Perhaps something like this, so that nodes can self-discov

[2018-12-26 20:31] AddoSolutions opened #72 "Broadcasting with Clustered Configuration"
## Package version
[code]

## Node.js and npm version

[code]

## Sample Code (to reproduce the issue)

`server.js` (straight out of the textbook)

[code]

`socket.js`

[code]

`DispatchController.js`

[code]

In the above example, I have `n` devices connected, and each device is broadcasting data once every 3 seconds.  The information is then distributed to every other connected device.  The trou

[2019-01-04 20:10] Ary770 commented on #65
I had this same issue. I just had to add the Auth Middleware in the wsKernel.js file.

`'use strict'

const Ws = use('Ws')

const globalMiddleware = [
  'Adonis/Middleware/Session',
  'Adonis/Middleware/AuthInit'
]

const namedMiddleware = {
  auth: 'Adonis/Middleware/Auth'
}

Ws
  .registerGlobal(globalMiddleware)
  .registerNamed(namedMiddleware)`

[2019-01-05 23:14] hkmsadek commented on #65
HI, where did you write your `onLoginAs ` method? In socket controller or normal http controller?

[2019-01-05 23:23] hkmsadek commented on #65
It's working for me now.
I think my problem was, I was using
`const globalMiddleware = [
  'Adonis/Middleware/Session',
  'App/Middleware/Auth'
]`

Now I changed it to
`const globalMiddleware = [
  'Adonis/Middleware/Session',
  'Adonis/Middleware/AuthInit'
]`

And also in socket.js I am using `Ws.channel('noti:*', 'NotifyerController').middleware('auth')`

[2019-01-12 08:46] RomainLanz commented on #65
Yup, this is it!

Glad you fixed it 🤗

Closing then.

[2019-01-12 08:46] #65 closed, assigned to thetutlage

[2019-01-12 21:00] hlozancic commented on #72
This is a bug.
It's being fixed as I know...
https://discordapp.com/channels/423256550564691970/423264181110702080/515156749813153792

[2019-01-24 20:55] waxapi opened #73 "For those who cant get optional auth working"
I'm just here to help

wsKernel.js
[code]

ChatController.js
[code]

[2019-01-31 12:29] RomainLanz commented on #73
Closing since this is not an issue.

[2019-01-31 12:29] #73 closed, assigned to nobody

[2019-02-20 08:07] mllull commented on #63
+1 for this issue, any news about it?

In socket.io, when a client closes the window, an event called `disconnect`is fired. It would be nice if it can be implemented here. (More info about this: https://socket.io/docs/).

[2019-02-26 13:11] websenornarendra opened #74 "Count subscribe Client"
It is possible that we can count client in a room

Ex.
We have Chat Room with Different Topic
And Many Clients  subscribe Different Topic

When Client subscribe Any Topic then Count subscribed Client

it is possible

[2019-03-18 20:05] edge-rps commented on #74
At the top of your socket.js or WS Controller
```var user_count = 0;```

when a user joins or disconnects
```user_count++ or user_count--```

and you can emit that variable
```socket.emit('users', user_count)```

[2019-03-18 20:09] edge-rps commented on #55
I found a fix
[code]

[2019-03-26 19:57] Brunomm commented on #72
I realized that this problem still persists.
Any alternative to get around the problem?

[2019-03-30 01:33] phambinh217 opened #77 "How to close socket connection via middleware?"
Dear,
I do the example follow: https://adonisjs.com/docs/4.1/websocket-server#_creating_middleware, and I modify some code like bellow
[code]

But it not woking, socket never close. Is it bugs or what am I doing wrong?

I using adonisjs 4.1. my node version is 10.x

[2019-04-10 09:28] RomainLanz commented on #66
Closing since no answer from issue reporter.

[2019-04-10 09:28] #66 closed, assigned to thetutlage

[2019-04-15 21:31] TrlaL commented on #63
When will this be fixed?

[2019-04-21 21:28] okurichenko commented on #67
Hey. I was researching this a bit, and here are results:

1. The easiest and most obvious way to share websocket messages between node workers has to be redis pubsub.
2. It's not possible atm to use current addon interface because `topic` can be absent on the worker. Also, if you use `broadcast` method you should somehow avoid publishing message twice (via direct `broadcast` call and from a subscr

[2019-04-22 10:02] annymosse commented on #46
how can i get the clients ids ,and how can i use .emitTo() where i don't know which id for each client?, hopefully if there is someone know more than the documentation help me (us) to dive deeply
[code]
currently i made that code to solve `clients ids` ,Is there a better solution?
and is there an idea how to attach the `socket.id` to auth user like : `auth.user.socketID`
without sending the socket

[2019-05-07 07:10] gaetansenn commented on #61
Hello @Ruby184 did you advance on this feature since september ? I can help you on it if you want it !

[2019-05-17 16:25] annymosse commented on #46
Any update on presence being added to 4.1?

[2019-05-24 10:34] CodingDive opened #76 "Automated websocket testing"
Hey there,
we've started adding websockets into our project a few days ago and I really enjoy using it. The API turned out to be great and being able to have middleware is amazing.

Our websocket use case is mostly very unidirectional from Server to Client. Let me give you an example:
1. User A sends a `RESTful request` to the `Server`
2. `Server` persists some things into the database and perform

[2019-05-24 10:36] CodingDive commented on #76
The testing section for sockets is also missing from the docs for which I'll happily send a PR.

[2019-05-29 09:40] fokoz commented on #77
You have to use throw error like this to stop the process and catch it from the client side
`throw new Error('Some authentication error')`

[2019-09-06 04:38] makhloughi opened #79 "Access raw websocket data within middleware"
Hi there, I'm new with Adonis and it's
websocket library & I need to access sent raw data(packet) & headers from the client in middlewares and channel controllers.
Is there any way to access all of that and modify some headers & add data to packet structure in response?!

Note: channel/topic name is not accessible via middlewares too. Is this a lack?! I need to do some stuff before grant access to

[2019-09-06 05:03] thetutlage commented on #79
Will be nice, if you can share some code on what exactly you have tried so far. All theory can lead to the [XY problem](https://en.wikipedia.org/wiki/XY_problem)

[2019-09-06 09:33] makhloughi commented on #79
thanks for your rapid response.
here is my wsHandle method of custom auth middleware(outputs are commented):
`

    async wsHandle (ctx, next) {
        console.log('custom Middle Ware was dispatched');//this is working fine
        console.log(ctx.socket.id);//chat#ck07wexgk0000zgv4e3k3cvtr is on the console log
        console.log(ctx.socket.channel);//is null --why?!
    }

`

1. in this custom

[2019-09-07 08:22] makhloughi commented on #79
as i found, you have no interest to answer this question anymore. such as [this link](https://forum.adonisjs.com/t/websocket-how-to-deny-a-channel-topic-subscription/4367/5).
we need it Mr Virk! can you help us or not? clear this please.

[2019-10-06 14:04] makhloughi commented on #79
are you dead?!

[2019-10-06 14:05] thetutlage commented on #79
No having dinner

[2019-10-06 14:06] makhloughi commented on #79
Enjoy your meal

[2020-04-26 16:40] webadmin2021 commented on #63
While you can't use the broadcast event inside close

You should be able to use this method:

[code]

This should work as you're not broadcasting through the closed socket. According to the docs, this method can be used outside the scope of a socket. So, it should work even if the socket is closed

[2020-04-29 10:55] GV79 commented on #63
After testing, this method seems to not work either. In the socket close event handler, the variable will be null whereas putting that same code outside will work fine. I think the best current solution (until the pull request fix is merged) is to use something like patch-package to manually fix it locally for now.

[2020-05-03 02:29] joaopedroabreuu opened #83 "When an authenticated user, the websocket transmits this message: adonis: websocket connection is not in open state, current state 1 + 1ms"
## When an authenticated user, the websocket transmits this message: adonis: websocket connection is not in open state, current state 1 + 1ms

I am having this problem when I am logged into the application. I made the same code for when I'm logged out and works normally, following the step by step that exists in DOC.https: //adonisjs.com/docs/4.1/websocket

Can anyone explain what is missing or ha

[2020-05-14 14:22] llampwall commented on #14
is presence ever going to be added to v4? and if not, is there some way to implement it ourselves?

[2020-07-02 20:26] rbarbosas commented on #46
Any update on presence being added to 4.1? ²

[2020-08-14 16:16] jcjp commented on #63
I have a workaround on this to trigger the event upon disconnect, I used jona4life's code above and tweak it a little bit:

[code]

If anybody is needing this or stumble upon this.

[2020-09-17 19:02] nsbrabelo opened #84 "Topic request doesn't have any active subscriptions"
I am receiving this error radomically when sending a broadcast message on a topic that certainly has many subscribers

[2020-10-22 14:17] ArturMassaro commented on #46
Any update on presence being added to 4.1?³

[2021-07-02 20:49] diegogit03 opened #86 "Adonis 5 typescript support?"
This package will updated to new adonis version?

[2021-07-03 04:26] thetutlage commented on #86
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-07-03 04:26] #86 closed, assigned to nobody